DEBUG=false
VALID_NETWORKS=192.168.2.0/24,192.168.3.0/24
PREDICT_NETWORK=192.168.2.0/24
PREDICT_IP_ADDRESSES=true
PREDICT_IP_ADDRESSES_VMID_BLACKLIST=
REQUEST_TIMEOUT=30
PROXMOX_URL=https://proxmox-server:8006
PROXMOX_NODES_LIST=pve01,pve02
PROXMOX_TOKEN_NAME=api-user@pam!main
PROXMOX_TOKEN=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
PROXMOX_VERIFY_SSL=false
CLOUDFLARE_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLOUDFLARE_ZONE=mydomain.net
CLOUDFLARE_DNS_SUBDOMAIN=nyc
PRUNE_STALE_RECORDS=false

# Optional. Time between sync attempts, e.g. 10m, 1h. Default in the container is 1h.
INTERVAL=10m
